<section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter">
    <div class="container-fluid px-md-5">
        <div class="row d-md-flex align-items-center">
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 shadow">
                    <div class="text">
                        <span>
                            <h1>GITHUB URL</h1>
                        </span>
                        <div> <a href="https://github.com/rexsteroxy" target="blank">Click Here</a> </div>

                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 shadow">
                    <div class="text">
                        <span>
                            <h1>LINKEDIN URL</h1>
                        </span>
                        <div> <a href="https://linkedin.com/in/amadiaustinchukwuemeka" target="blank">Click Here</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 shadow">
                    <div class="text">
                        <span>
                            <h1>TWITTER URL</h1>
                        </span>
                        <div> <a href="https://www.twitter.com/rexsteroxxy" target="blank">Click Here</a> </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->