<section class="ftco-section contact-section ftco-no-pb" id="about-section">
    <div class="container">
        <div class="row no-gutters block-9">
            <div class="col-md-6 order-md-last ftco-about">
                <div class="col-md-12 heading-section ftco-animate">
                    <h1 class="big">About</h1>
                    <h2 class="mb-4">About Me</h2>
                    <p>Am a Software Engineer who is passionate about solving complex problems by Building
                        technological solutions out of business needs.
                        I have 2 years of experience working on
                        web and mobile applications. I can fit into any of the phases of
                        software development life cycle and I can work both individually
                        or collaboratively. </p>
                    <ul class="about-info mt-4 px-md-0 px-2">
                        <li class="d-flex"><span>Name:</span> <span>Austin Chukwuemeka Amadi</span></li>
                        <li class="d-flex"><span>Date of birth:</span> <span>January 6th</span></li>
                        <li class="d-flex"><span>Address:</span> <span>Imo State University Owerri,
                                Nigeria</span></li>
                        <li class="d-flex"><span>Zip code:</span> <span>2345</span></li>
                        <li class="d-flex"><span>Email:</span> <span>rexsteroxy22@gmail.com</span></li>
                        <li class="d-flex"><span>Phone: </span> <span>+234-9037096290</span></li>
                    </ul>
                </div>

            </div>

            <div class="col-md-6 d-flex">
                <div class="img" style="background-image: url(images/rex.jpg);"></div>
            </div>
        </div>
    </div>
</section>