<section class="ftco-section" id="blog-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h1 class="big big-2">Blog</h1>
                <h2 class="mb-4">My Blog</h2>
                <p>My Technical Write Ups.</p>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <div class="text mt-3 float-right d-block">
                        <h3 class="heading"><a
                                href="https://medium.com/studevs/deploying-your-node-express-app-on-heroku-f1c90d4c3262"
                                target="blank">DEPLOYING YOUR NODE/EXPRESS APP ON HEROKU.</a></h3>

                        <p>Deploying node applications in the server can be a little difficult especially
                            to developers who are new to Node. Here is an easy Guide.
                            <div>Published on Sep 1, 2019</div>
                            <div>3 min read</div>
                            <div> <a href="https://medium.com/studevs/deploying-your-node-express-app-on-heroku-f1c90d4c3262"
                                    target="blank">Click To Read</a> </div>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <div class="text mt-3 float-right d-block">
                        <h3 class="heading"><a
                                href="https://medium.com/studevs/the-next-generation-javascript-5ad2403a02ef"
                                target="blank">The Next Generation JavaScript.</a></h3>
                        <p>Modern JavaScript offers features for both simplicity and speed,
                            here is gentle introduction to some of the features, enjoy!</p>
                        <div>Published on July 7, 2019</div>
                        <div>4 min read</div>
                        <div> <a href="https://medium.com/studevs/the-next-generation-javascript-5ad2403a02ef"
                                target="blank">Click To Read</a> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry">
                    <div class="text mt-3 float-right d-block">
                        <h3 class="heading"><a
                                href="https://medium.com/@rexsteroxy22/basic-concept-of-back-end-web-development-43d9d991c056"
                                target="blank">Basic Concept Of Back-end Web Development.</a></h3>
                        <p>This medium post is specifically for new developers who are striving to
                            understand the concept of backend web development.</p>
                        <div>Published on April 1, 2019</div>
                        <div> <a href="https://medium.com/@rexsteroxy22/basic-concept-of-back-end-web-development-43d9d991c056"
                                target="blank">Click To Read</a> </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>